html, body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Menu */

#menu {
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom: 0.1rem solid black;
}

#menu .logo {
    height: 2rem;
    margin: 1rem;
    float:left;
}

#menu nav {
    float: right;
    height: 100%;
    margin: 1.5rem;
}

nav a {
    float: left;
    vertical-align: middle;
    padding: 0 1rem;
}

/* Opener */

#opener {
    text-align: center;
    background-color: gray;
}

#opener img{
    width: 60%;
    vertical-align: middle;
}

#opener .openertext{
    display: inline-block;
    vertical-align: middle;
}

/* Information */

.multi-container {
    display: flex;
    width: 100%;
}

.main-pic-box {
    width: 60%;
}

.main-pic-box img{
    width: 100%;
}


.stacked-content-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 35%;
    vertical-align: top;
}

.content-box img{
    width: 35%;
    display: inline-block;
}

.content-text{
    width: 55%;
    display: inline-block;
}

/* Gallery */

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallery-box{
    width: 33%;
}