html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #594f4f;
}

main {
    position: relative;
    top: 4rem;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}

h5{
    font-size: 1.5rem;
}


/* Menu */

#menu {
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom: 0.1rem solid black;
    z-index: 10;
}

#menu .logo {
    height: 2rem;
    margin: 1rem;
    float:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu nav {
    float: right;
    height: 100%;
    margin: 1.5rem;
}

nav a {
    float: left;
    vertical-align: middle;
    padding: 0 1rem;
}

/* Opener */

#opener {
    text-align: center;
    background-color: #cdcdd5;
}

#opener img{
    width: 60%;
    vertical-align: middle;
    margin: 2rem 1.5rem;
}

#opener .openertext{
    display: inline-block;
    color: #594f4f;
}

/* Information */

.multi-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.main-pic-box {
    width: 60%;
    padding: 2rem 1.5rem;
}

.main-pic-box img{
    width: 100%;
}

.pic-box-text{
    padding: 2rem 1.5rem;
}


.stacked-content-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 35%;
    vertical-align: top;
}

.content-box img{
    width: 35%;
    display: inline-block;
    margin: 3.5%;
    vertical-align: middle;
}

.content-text{
    width: 55%;
    display: inline-block;
    vertical-align: middle;
}

.main-pic-box h2{
    text-align: left;
}

/* Gallery */

#gallery {
    background-color: #cdcdd5;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallery-box{
    width: 33%;
}

/* Thesis */
/* boxes as in information section */
.main-pic-box video{
    width: 100%;
}

/* Footer */

footer {
    border-top: 1px solid black;
    position: relative;
    top: 4rem;
}

.copyright {
    float: left;
}

.legal {
    float: right;
}

