html, body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Menu */

#menu {
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom: 0.1rem solid black;
}

#menu .logo {
    height: 2rem;
    margin: 1rem;
    float:left;
}

#menu nav {
    float: right;
    height: 100%;
    margin: 1.5rem;
}

nav a {
    float: left;
    vertical-align: middle;
    padding: 0 1rem;
}

/* Opener */

#opener {
    text-align: center;
    background-color: gray;
}

#opener img{
    width: 60%;
    vertical-align: middle;
}

#opener .openertext{
    display: inline-block;
    vertical-align: middle;
}

/* Information */

